<% if user_signed_in? %>
  <h2 class="text-center margin-header-bis">List of all private users:</h2>
  <div class="text-center container">
    <div class="row container" style="border: solid 1px #000;">
      <div class="col"><strong>ID:</strong></div>
      <div class="col"><strong>First name:</strong></div>
      <div class="col"><strong>Last name:</strong></div>
      <div class="col"><strong>Email:</strong></div>
    </div>
    <% @user.each do |user| %>
      <div class="row container">
        <div class="col" style="border: solid 1px #000;"><%= user.id %></div>
        <div class="col" style="border: solid 1px #000;"><%= user.first_name %></div>
        <div class="col" style="border: solid 1px #000;"><%= user.last_name %></div>
        <div class="col" style="border: solid 1px #000;"><%= user.email %></div>
      </div>
    <% end %>
  </div>
<% else %>
  <h1 class="text-center margin-header-bis">You need to Log In to access this page.</h1>
  <div class="text-center">
    <div class="btn-group" role="group" style="padding: 50px;">
      <a href="/users/sign_in" class="btn btn-outline-dark pers" style="padding: 10px 30px;">Sign In</a>
      <a href="/users/sign_up" class="btn btn-outline-dark pers" style="padding: 10px 30px;">Register</a>
    </div>
  </div>
<% end %>
